In [ ]:
import pandas as pd
import os
import re
import nltk

#nltk.download('punkt')

In [ ]:
got = pd.read_csv("Game_of_Thrones_Script/Game_of_Thrones_Script.csv")
got.name = 'Game of Thrones'

got

,Release Date,Season,Episode,Episode Title,Name,Sentence
0,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,What do you expect? They're savages. One lot s...
1,2011-04-17,Season 1,Episode 1,Winter is Coming,will,I've never seen wildlings do a thing like this...
2,2011-04-17,Season 1,Episode 1,Winter is Coming,waymar royce,How close did you get?
3,2011-04-17,Season 1,Episode 1,Winter is Coming,will,Close as any man would.
4,2011-04-17,Season 1,Episode 1,Winter is Coming,gared,We should head back to the wall.
...,...,...,...,...,...,...
23906,2019-05-19,Season 8,Episode 6,The Iron Throne,brienne,I think we can all agree that ships take prece...
23907,2019-05-19,Season 8,Episode 6,The Iron Throne,bronn,I think that's a very presumptuous statement.
23908,2019-05-19,Season 8,Episode 6,The Iron Throne,tyrion lannister,I once brought a jackass and a honeycomb into ...
23909,2019-05-19,Season 8,Episode 6,The Iron Throne,man,The Queen in the North!
23910,2019-05-19,Season 8,Episode 6,The Iron Throne,all,The Queen in the North! The Queen in the North...

In [ ]:
df = got[["Name","Sentence"]]

df = df.rename(columns = {"Name":"character","Sentence":"line"})
df

              character                                               line
0          waymar royce  What do you expect? They're savages. One lot s...
1                  will  I've never seen wildlings do a thing like this...
2          waymar royce                             How close did you get?
3                  will                            Close as any man would.
4                 gared                   We should head back to the wall.
...                 ...                                                ...
23906           brienne  I think we can all agree that ships take prece...
23907             bronn      I think that's a very presumptuous statement.
23908  tyrion lannister  I once brought a jackass and a honeycomb into ...
23909               man                            The Queen in the North!
23910               all  The Queen in the North! The Queen in the North...

[23911 rows x 2 columns]

In [9]:
from nltk import word_tokenize 
from nltk.util import ngrams

def get_ngrams(ngram):
    data = list()
    counter = 0
    for line in df['line']:
        token = nltk.word_tokenize(line)
        bigram = list(ngrams(token, ngram))
        data.append([df['character'][counter],bigram])
        counter = counter + 1
    return data
        
data = get_ngrams(2)

In [10]:
newdf = pd.DataFrame(data, columns=['character','bigram'])
newdf

                      0                                                  1
0          waymar royce  [(What, do), (do, you), (you, expect), (expect...
1                  will  [(I, 've), ('ve, never), (never, seen), (seen,...
2          waymar royce  [(How, close), (close, did), (did, you), (you,...
3                  will  [(Close, as), (as, any), (any, man), (man, wou...
4                 gared  [(We, should), (should, head), (head, back), (...
...                 ...                                                ...
23906           brienne  [(I, think), (think, we), (we, can), (can, all...
23907             bronn  [(I, think), (think, that), (that, 's), ('s, a...
23908  tyrion lannister  [(I, once), (once, brought), (brought, a), (a,...
23909               man  [(The, Queen), (Queen, in), (in, the), (the, N...
23910               all  [(The, Queen), (Queen, in), (in, the), (the, N...

[23911 rows x 2 columns]